<section class="flex justify-center items-center absolute w-full">
    <div class=" ">
        <h1 class=" flex justify-center relative font-Tenor-Sans font-medium text-xl text-dark tracking-[0.20em] mt-12">MARQUE SEU HORÁRIO</h1>
        <svg xmlns="http://www.w3.org/2000/svg" width="380" height="26" viewBox="0 0 284 17" fill="none">
            <path d="M142.176 17L152.516 8.64245H284V8.26257H152.516L142.176 0L131.954 8.26257H0V8.64245H131.954L142.176 17ZM142.176 0.569833L152.046 8.45251L142.176 16.4302L132.306 8.45251L142.176 0.569833Z" fill="#555555"/>
          </svg> 
    </div>
    <img src="../../../assets/images/svg/colorsSM.svg" class="absolute ml-[21.5rem] top-[3.5rem]">
</section>


