
<nav class="flex justify-center absolute top-5">
    <div class="w-96 h-16 bg-pink-150 rounded-3xl ">
        <button id="" class="size-16 text-3xl">
            <img src="/src/assets/images/svg/sidebar.svg">
        </button>
        <button id=""></button>
        <button id=""></button>
        <h1 class="font-Tenor-Sans text-5xl font-bold ">Olá, Mundo</h1>
    </div>
</nav>

<section>
    <div class="flex justify-center gap-3">
        <div class="w-20 h-screen bg-pink-50 rounded-3xl "></div>
        <div class="w-20 h-screen bg-pink-50 rounded-3xl "></div>
        <div class="w-20 h-screen bg-pink-50 rounded-3xl "></div>
        <div class="w-20 h-screen bg-pink-50 rounded-3xl "></div>
        <div class="w-20 h-screen bg-pink-50 rounded-3xl "></div>
    </div>
</section>