<section class="flex flex-col w-full h-96 justify-center items-center absolute font-Tenor-Sans font-medium text-xl">
    <div class="grid w-96 h-56 mt-10 rounded-3xl drop-shadow-4x1 items-center justify-center text-dark" id="menuOptiion" [ngStyle]="styleBorder">
        <h1 class="w-full tracking-[0.20em]">SERVIÇOS</h1>
        <div class="text-xs">
            <input type="radio" value="Manicure" name="service" >
            <label for="Manicure">Manicure</label>
            <span>10$</span>
        </div>
        <div class="text-xs">
            <input type="radio" value="Manicure" name="service">
            <label for="Manicure">Manicure</label>
            <span>10$</span>
        </div>
        <div class="text-xs">
            <input type="radio" value="Manicure" name="service">
            <label for="Manicure">Manicure</label>
            <span>10$</span>
        </div>
    </div>
</section>