<form action="" class="flex w-60 justify-center items-center absolute" >
        <h1>Serviços</h1>
    <div>
        <div >
            <input type="radio" value="Manicure" name="service">
            <label for="Manicure">Manicure</label>
            <span>10$</span>
        </div>
        <div>
            <input type="radio" value="Manicure" name="service">
            <label for="Manicure">Manicure</label>
            <span>10$</span>
        </div>
        <div>
            <input type="radio" value="Manicure" name="service">
            <label for="Manicure">Manicure</label>
            <span>10$</span>
        </div>
    </div>
</form>